#!/usr/bin/make -f

ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH | sed "s/^i//")
VERSION := $(shell dpkg-parsechangelog | sed -n "s/^Version: //p")
UPSTREAM_VERSION := $(shell echo $(VERSION) | sed -e "s/-.*//" -e "s/^.*://")
MAJOR_UPSTREAM_VERSION := $(shell echo $(UPSTREAM_VERSION) | sed -e 's/^\([0-9]*\.[0-9]*\).*$$/\1/')
TARBALL := go$(UPSTREAM_VERSION).linux-$(ARCH).tar.gz
UPSTREAM_URL := "https://storage.googleapis.com/golang/$(TARBALL)"

%:
	dh $@

override_dh_auto_clean:
	rm -f $(TARBALL)
	rm -rf go

override_dh_gencontrol:
	dh_gencontrol -- -Vgo:Version=$(MAJOR_UPSTREAM_VERSION)

override_dh_strip:
override_dh_strip_nondeterminism:

override_dh_auto_configure: $(info I: UPSTREAM_VERSION=$(UPSTREAM_VERSION)) $(info I: TARBALL=$(TARBALL))
	wget --progress=dot:mega -O $(TARBALL) $(UPSTREAM_URL)
	tar xf $(TARBALL)
